<h1>angular-avalon NgxAvalonMoon test</h1>

<input type="number" #yearInput (input)="yearChange($event, yearInput)" [value]="year" required />
<div *ngIf="!isValidInput" class="error">Invalid year - must be a number</div>

<input type="color" #color1Input (change)="color1Change($event, color1Input)" [value]="color1" required />
<input type="color" #color2Input (change)="color2Change($event, color2Input)" [value]="color2" required />

<div *ngFor="let month of months">
  <p>Month: {{month.label}}</p>
  <NgxAvalon-moon 
    *ngFor="let day of month.days"
    date="{{year}}-{{month.num}}-{{day}}" 
    [color1]="color1"
    [color2]="color2"
    ><span>{{day}}</span></NgxAvalon-moon>
</div>