:host {
    font-family: sans-serif;
    text-align: center;
}
input {
    margin-top: 10px;
    font-size: 20px;
    &:valid {
        border: 1px solid green;
    }
    &:invalid {
        border: 1px solid red;
        color: red;
    }
}
input[type=color] {
    cursor: pointer;
}
label {
    margin-right: 5px;
}
img {
    display: block;
    margin: 10px auto;
}

.month, .phase-row {

    border: 1px solid lightsalmon;
    margin: 10px auto;
    width: 475px;
    background-color: seashell;


    avalon-moon {
        margin: 5px;
        text-align: center;
        font-size: 10px;
        width: 50px;
    }

}
.phase-row {
    width: 500px;
}

pre {
    text-align: left;
    margin: 0 auto;
    width: 400px;
}

.example2 {
    margin: 10px;
}