<h1>avalon-moon examples</h1>

<h2>Adjustable sizing</h2>
<p>The element renders as an svg, so should scale appropriately with css sizing.</p>
<p>No date or phaseNumber provided will use the current date to calculate the phase.</p>
<div>
  <pre><code 
    [highlight]="example2"
    >
  </code></pre>
</div>
<div>
  <avalon-moon class="example2" [style.height.px]="100" ></avalon-moon>
</div>

<hr/>

<h2>Provide the phase</h2>
<p>A phaseNumber can be provided on it's own</p>
<p>Events with the phase name and phaseNumber are generated so you may customize the markup.</p>
<div>
  <pre><code 
    [highlight]="example1"
    >
  </code></pre>
</div>

<div class="phase-row">
  <avalon-moon 
    *ngFor="let phase of phases"
    [phaseNumber]="phase.num"
    (phaseName)="phase.name = $event"
    (phaseNumberChanged)="phase.phaseNumber = $event"
    >
    <div>{{phase.num}} </div>
    <div>{{phase.name}}</div>
  </avalon-moon>
</div>

<hr/>
<h2>Provide a date</h2>

<div>
  <pre><code 
    [highlight]="example3"
    >
  </code></pre>
</div>

<p>A string date value (yyyy-mm-dd) provided will calculate the moon phase for that date.</p>
<label>Choose the year</label>
<div>
  <input type="number" #yearInput (input)="yearChange($event, yearInput)" [value]="year" required />
</div>
<div *ngIf="!isValidInput" class="error">Invalid year - must be a number</div>

<p>Dark and light colors can also be provided</p>
<div>
  <label>Dark Color</label> 
  <input type="color" #darkColorInput (change)="darkColorChange($event, darkColorInput)" [value]="darkColor" required />
</div>
<div>
  <label>Light Color</label> 
  <input type="color" #lightColorInput (change)="lightColorChange($event, lightColorInput)" [value]="lightColor" required />
</div>

<div *ngFor="let month of months" class="month">
  <p>Month: {{month.label}}</p>
  <avalon-moon 
    *ngFor="let day of month.days"
    [date]="day.date" 
    [darkColor]="darkColor"
    [lightColor]="lightColor"
    (phaseName)="day.phaseName = $event"
    >
    <div>{{day.num}}</div>
    <div>{{day.phaseName}}</div>
  </avalon-moon>
</div>